@import url('https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900');

html {
  height: 100%;
}

body {
  font-family: 'Roboto', 'Arial', sans-serif;
  font-size: 18px;
  background: linear-gradient(to bottom right, #191654, #43C6AC);
  color: #FFF;
  text-align: center;
}

header {
  position: absolute;
  width: 100%;
  top: 50px;
}

header .wrapper {
  display: flex;
  justify-content: space-around;
  margin: 0 auto;
  padding: 0 200px;
}

.logo img {
  width: 194px;
}

.cool-link {
  margin-right: 30px;
  display: inline-block;
  font-weight: 900;
}

.cool-link a {
  text-decoration: none;
  position: relative;
  transition: 0.15s ease-in-out;
  color: #FFF;
}

.cool-link:hover a {
  color: #FFF;
}

.cool-link a::before {
  width: 0;
  height: 3px;
  background: #FFF;
  position: absolute;
  bottom: -5px;
  content: "";
}

.cool-link.center-to-side:hover a::before {
  transition: 0.15s ease-in-out;
  width: 100%;
}

.cool-link.right-to-left a::before {
  right: 0;
}

.cool-link.center-to-side a::before {
  left: 50%;
  transform: translateX(-50%);
}
